ve<div class="body">
  <section id="cover">
  <div class="cover-info">
    <div class="cover-content">
        <div class="container">
            <h1>LETS WORK ON SOMETHING INTERESTING TODAY</h1>
            <h3>Frontend Developer based in London UK</h3>
            <a class="button">Know More »</a>

        </div>

    </div>
</div>
</section>



    <div class="container ">
    <div class="row ">
        <div class="col-lg-3 col-md-6 col-xs-6" *ngFor="let product of products; index as i">
            <div class="card" style="width: 17rem;">
                <img [src]="product.image1" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">{{ product.name | titlecase }}</h5>
                  <p class="card-text">{{ product.Price | currency }}</p>
                  <button class="btn btn-danger" (click)="addToCart(i)">Add to cart</button>
                  <button class="btn btn-danger" [routerLink]="['products/product-info', product.Id]">show info</button>
                </div>
              </div>
        </div>
    </div>
</div>
</div>



<div class="footer text-center">
  <br><p>Copyright © 2017 UIGRID | All Rights Reserved |www.uigrid.com

  </p>
</div>
