
<div class="row mt-4">
    <div class="col-12">
      <h4>User Registration</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form (ngSubmit)="createUser()">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="firstName">First name</label>
            <input type="text" [(ngModel)]="user.firstName" name="firstName">
          </div>
          <div class="col-md-6 mb-2">
            <label for="lastName">Last name</label>
            <input type="text" [(ngModel)]="user.lastName" name="lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="email"class="email">Email</label>
            <input type="email" [(ngModel)]="user.email" name="email">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="password">Password</label>
              <input type="passwrod" [(ngModel)]="user.password" name="password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label>Confirm<br> Password</label>
              <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-dark btn-lg btn-bg-color " type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>